.footer{
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  background-color: var(--color-grey-100);
  box-shadow: 0 0 10px var(--color-primary-100);
  flex-direction: column;
  z-index: 5;
}

.list a{
  margin: 10px;
  margin-left: 20px;
  position: relative;
  left: -50%;
}

.list{
  width: 100px;
  display: flex;
  justify-content: center;
  gap: 30px
}


.list a path{
  color: var(--color-primary-500);
  margin-left: 10px;
}

.footer small{
  color: var(--color-grey-300);
}

.footer small a {
  color: var(--color-grey-700);
}