.link{
  text-decoration: none;
  color: var(--color-primary-300);
  font-size: 1.2rem;
}


.img img{
  width: 100%;
  height: auto;
  max-width: 800px;
}

.titleCard{
  color:var(--color-primary-300);
  padding: 2rem;
  background-color: var(--color-offwhite);
  box-shadow: 0 0 5px var(--color-grey-400);
  width: 98%;
  margin: 1rem auto;
  max-width: 450px;
}

.titleCard ul{
  padding: 0;
}

.titleCard li{
  list-style: none;
  margin-left: 0;
  margin-top: 2rem;
}

.titleCard a {
  background-color: var(--color-primary-500);
  width: 100%;
  text-decoration: none;
  color: white;
  padding: .5rem;
  margin: 1rem;
  border-radius: .5rem;
}

.titleCard a:hover, .titleCard a:focus{
  background-color: var(--color-primary-300);
}


.titleCard h2{
  font-family: var(--font-open-sans-condensed);
}

.titleCard img{
  border-radius: 50%;
  border: 1px solid white;
}